USE [master]
GO
/****** Object:  Database [Employees]    Script Date: 11/20/2017 2:15:16 PM ******/
CREATE DATABASE [Employees]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employees]
GO
USE [Employees]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/20/2017 2:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[BusinessEntityID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](8) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Suffix] [nvarchar](10) NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[PhoneNumberType] [nvarchar](10) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](60) NOT NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NOT NULL,
	[StateProvinceName] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](15) NOT NULL,
	[CountryRegionName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 11/20/2017 2:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[BusinessEntityID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([BusinessEntityID], [Title], [FirstName], [MiddleName], [LastName], [Suffix], [JobTitle], [PhoneNumber], [PhoneNumberType], [EmailAddress], [AddressLine1], [AddressLine2], [City], [StateProvinceName], [PostalCode], [CountryRegionName], [StartDate], [EndDate]) VALUES (1, NULL, N'Ken', N'J', N'Sánchez', NULL, N'Chief Executive Officer', N'697-555-0142', N'Cell', N'ken0@adventure-works.com', N'4350 Minute Dr.', NULL, N'Newport Hills', N'Washington', N'98006', N'United States', CAST(N'2009-01-14' AS Date), NULL)
INSERT [dbo].[Employees] ([BusinessEntityID], [Title], [FirstName], [MiddleName], [LastName], [Suffix], [JobTitle], [PhoneNumber], [PhoneNumberType], [EmailAddress], [AddressLine1], [AddressLine2], [City], [StateProvinceName], [PostalCode], [CountryRegionName], [StartDate], [EndDate]) VALUES (2, NULL, N'Terri', N'Lee', N'Duffy', NULL, N'Vice President of Engineering', N'819-555-0175', N'Work', N'terri0@adventure-works.com', N'7559 Worth Ct.', NULL, N'Renton', N'Washington', N'98055', N'United States', CAST(N'2008-01-31' AS Date), NULL)
INSERT [dbo].[Employees] ([BusinessEntityID], [Title], [FirstName], [MiddleName], [LastName], [Suffix], [JobTitle], [PhoneNumber], [PhoneNumberType], [EmailAddress], [AddressLine1], [AddressLine2], [City], [StateProvinceName], [PostalCode], [CountryRegionName], [StartDate], [EndDate]) VALUES (3, NULL, N'Roberto', NULL, N'Tamburello', NULL, N'Engineering Manager', N'212-555-0187', N'Cell', N'roberto0@adventure-works.com', N'2137 Birchwood Dr', NULL, N'Redmond', N'Washington', N'98052', N'United States', CAST(N'2007-11-11' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
INSERT [dbo].[History] ([BusinessEntityID], [StartDate], [EndDate]) VALUES (1, CAST(N'2009-01-14' AS Date), NULL)
INSERT [dbo].[History] ([BusinessEntityID], [StartDate], [EndDate]) VALUES (2, CAST(N'2008-01-31' AS Date), NULL)
INSERT [dbo].[History] ([BusinessEntityID], [StartDate], [EndDate]) VALUES (3, CAST(N'2007-11-11' AS Date), NULL)
GO
USE [master]
GO
